<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cav.DriverphTruckerlearningPH2020">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />


    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PrepareForTest"></activity>
        <activity android:name=".SummarizedScoresServer" />
        <activity android:name=".Basic_Content" />
        <activity
            android:name=".CompletedQuizzes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizStatusList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Quizzes_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".ChangeAvatar" />
        <activity android:name=".AccountEdit" />
        <activity android:name=".Recommendation" />
        <activity android:name=".Polguide" />
        <activity
            android:name=".MyAccount"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".VoiceResponse"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Lessons_Menu"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Lessons_Basic_Content"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Evaluation_Basic_Content"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Evaluation_Menu"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Registration"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".MyProgress"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lesson"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Help"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name" />
        <activity
            android:name=".Advisory"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".QuizResults"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizInstructions"
            android:parentActivityName=".Dashboard" />

        <receiver android:name=".NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>